# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Secrets
.env
.env.*
!.env.example

# IDE & Editor files
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build & Distribution
dist/
build/
*.egg-info/